@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html,
body {
  font-family: 'microsoft yahei';
  width: 100%;
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  -webkit-border-radius: 0;
  background-color: #0bc9f7;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 0;
  -webkit-border-radius: 0;
  background-color: #0bc9f7;
}

::-webkit-selection {
  color: #fff;
  background-color: #0bc9f7;
}

::-moz-selection {
  color: #fff;
  background-color: #0bc9f7;
}

::selection {
  color: #fff;
  background-color: #0bc9f7;
}

select,
input {
  font-size: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

a,
button,
input,
select,
div,
li,
i,
span {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -moz-user-focus: none;
  -webkit-touch-callout: none;
}

input,
div,
select,
a {
  border-width: thin;
  text-decoration: none;
}

i {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.img-radius {
  border-radius: 50%;
}

.btn {
  outline: none;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-box-sinzing: border-box;
  -moz-box-sinzing: border-box;
  -ms-box-sinzing: border-box;
  -o-box-sinzing: border-box;
  box-sinzing: border-box;
}

.btn-default {
  padding: 10px 15px;
  font-size: 16px;
  color: #222;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}

.container {
  width: 100%;
  min-height: 1px;
}

/* 顶部导航栏 */
.navbar {
  width: 100%;
  height: 50px;
  background: #F39C12;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

/* 底部导航栏 */
.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 999;
  background: #fff;
  bottom: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0 -2px 2px #ccc;
  -moz-box-shadow: 0 -2px 2px #ccc;
  box-shadow: 0 -2px 2px #ccc;
}

.footer ul {
  overflow: hidden;
}

.footer ul li {
  float: left;
  width: 33.333333%;
  line-height: 50px;
  /* &:hover a{
				color: red;
			} */
}

.footer ul li a {
  color: #222;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.footer ul .active a {
  color: red;
}

.opacity {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.opacityup-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.opacityup-enter.opacityup-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.opacityup-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.opacityup-leave.opacityup-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(0, 50px, 0);
  -moz-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -o-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}

/* 文章 */
.article-box .article-info, .article-box .article-info, .article-box .article-img {
  padding: 0 10px;
}

.article-box .article-info .head-box {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.article-box .article-info .head-box img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.article-box .article-info .name-box {
  margin-left: 70px;
  height: 70px;
  overflow: hidden;
}

.article-box .article-info .name-box h3 {
  margin-top: 10px;
}

.article-box .user-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  line-height: 200px;
}

.article-box .user-img img {
  width: 100%;
  height: auto;
}

/* 我的消息 */
#app {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.home-box, .message-box, .login-box {
  padding: 60px 0;
}
