@import './lib/reset.scss';
@import './lib/skin.scss';
@import './lib/mixin.scss';

.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clearfix:after{
	content:'';
	width:0;
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.hide{
	display:none;
}
.show{
	display:block;
}
.img-radius{
	border-radius:50%;
}
//按钮
.btn{
	outline:none;
	border:0;
	background:transparent;
	cursor:pointer;
	@include sizing;
}
.btn-default{
	padding:10px 15px;
	font-size:16px;
	color:#222;
	border:1px solid #ccc;
	background:#fff;
	border-radius:5px;
}

//表单
.container{
	width:100%;
	min-height:1px;
}


/* 顶部导航栏 */
.navbar{
	width:100%;
	height:50px;
	background:$color-a;
	text-align:center;
	line-height:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:999;
}
/* 底部导航栏 */
.footer{
	width:100%;
	height:50px;
	position:absolute;
	z-index:999;
	background:#fff;
	bottom:0;
	left:0;
	z-index:999;
	@include shadow(0 -2px 2px #ccc);
	ul{
		overflow: hidden;
		li{
			float: left;
			width: 33.333333%;
			line-height: 50px;
			a{
				color: #222;
				@include transition(all 1s ease)
			}
			/* &:hover a{
				color: red;
			} */

		}
		.active a{
				color: red;
		}
	}
}
.opacity{
	opacity: 0;
	@include transition(all .3s ease-in);
}
.opacityup-enter {
  opacity: 0;
  @include translate3d(0,50px,0);
  @include transition(all .5s ease-in);
}

.opacityup-enter.opacityup-enter-active {
  opacity: 1;
  @include translate3d(0,0,0);
}

.opacityup-leave {
  opacity: 1;
  @include translate3d(0,0,0);
  @include transition(all .5s ease-in);
}

.opacityup-leave.opacityup-leave-active {
  opacity: 0;
  @include translate3d(0,50px,0);
}

/* 文章 */
.article-box{
	.article-info, .article-info, .article-img{
		padding:0 10px;
	}
	.article-info{
		.head-box{
			width: 70px;
			height: 70px;
			line-height: 70px;
			img{
				width: 50px;
				height: 50px;
				vertical-align: middle;
			}
		}
		.name-box{
			margin-left:70px;
			height: 70px;
			overflow: hidden;
			h3{
				margin-top: 10px;
			}
			p{

			}
		}
	}
	.user-img{

		width: 200px;
		height: 200px;
		overflow: hidden;
		line-height: 200px;
		img{
			width: 100%;
			height: auto;
		}

	}
}

/* 我的消息 */
#app{
	max-height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
.home-box, .message-box, .login-box{
	padding:60px 0;
}

